page-about {
    .avatars img{
        margin: auto;
        height: 25%;
        width: 25%;
        border: darkblue;
        border-style: solid;
    }
        .boxed {
            border: 1px solid green ;
          }
          ion-label {
          
            width: 200px;
            border: darkblue;
            border-style: solid;
            
        }
}
