page-home {
    .avatars img{
        margin: auto;
        height: 30%;
        width: 30%;
        border-style: solid;
        border-width: .2em;
    }
    ion-item-sliding{
            border-style: solid;
            border-width: .2em;
              }
    .bg-style {
    background:lightblue;
            }

            .bg-style {
                background:lightblue;
                        }
    .bg-style {
    color: darkblue;
    }  

    .h3 {
        text-align: middle;
        color: darkblue;
        }  
        }
     
  

